body {
    display: flex;
    justify-content: center;
    background-color: darkslategrey;
}

#pageTitle {
    font-size: 100px;
    position: absolute;
    animation-name: smallBounce;
    animation-duration: 0.5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier( .5, 0.05, 1, .5);
    animation-play-state: running;
}

#videogamingButton {
    background-color: cadetblue;
    border: none;
    color: darkslategrey; 
    font-size: 50px;
    font-weight: bolder;
    width: 350px;
    height: 75px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -125px 0 0 -175px; /* first value is for y second for x */
}

#hackerTypeButton {
    background-color: cadetblue;
    border: none;
    color: darkslategrey;
    font-size: 50px;
    font-weight: bolder;
    width: 350px;
    height: 75px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0px 0 0 -175px; /* first value is for y second for x */
}

#backgroundText {
    font-size: 100px;
    font-weight: 600;
    word-wrap: break-word;
    position: fixed;
    text-align: center;
    text-anchor: middle;
    z-index: -999;
    user-select: none;
    opacity: 0.05;
    background-color: darkslategrey;

    animation-name: backgroundTextLerp;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

#backgroundCanvas {
    z-index: -9999;
}

#codingArea {
    font-size: 40px;
    background-color: darkslategrey;
    color: darkcyan;
    width: 80%;
    height: 500px;
    display: inline-block;
    position: absolute;
    margin-top: 250px;
    padding: 50px 50px 50px 50px;
    resize: none;
    border: 5px double darkcyan;
}

.defaultFont {
    font-family: monospace, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

@keyframes backgroundTextLerp {
    from {
        opacity: 0.05;
    }
    
    to {
        opacity: 0.08;
    }
}

@keyframes smallBounce {
    from {
        font-size: 100px;
        padding-top: 0em;
    }

    to {
        font-size: 90px;
        padding-top: .25em;
    }
}