#taskbarDiv {
    display: flex;
    justify-content: center;
}

#taskbarDiv ul {
    display: flex;
}

#taskbarItem li {
    display: inline;
    margin: 0 10px;
}

#subTaskbarItem li {
    display: inline;
    margin: 0 10px;
    font-size: 0px;
}

#taskbarItem li::before {
    content: "";
}

#subTaskbarItem li::before {
    content: "";
}

#subTaskbarItem li::after {
    content: "";
}

#pageContent {
    position: absolute;
    display: contents;
}

.listHideDots {
    list-style-position: inside;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#contentList {
    display: flex;
    position: absolute;
    justify-content: center;
    top: 250px;
    width: 80%;
    height: auto;
    overflow: hidden;
    overflow-y: auto;
}

#contentList ul {
    width: 95%;
}

.contentListItem {
    display: flex;
    width: 100%;
    height: 300px;
    margin: 20px 10px;
    background-color: #213438;
}

.contentListIcon {
    display: inline-flex;
    margin: 15px 15px 15px 15px;
    width: 270px;
}

.contentListTitle {
    display: inline-flex;
    text-align: left;
    font-size: 50px;
    max-width: 540px;
    max-height: 120px;
    margin-top: 10px;
    overflow: hidden;
}

.contentListDescription {
    display: inline-flex;
    position: absolute;
    text-align: left;
    max-height: 210px;
    margin-top: 80px;
    margin-left: 310px;
    font-size: 20px;
    overflow: hidden;
}