#taskbarDiv {
    display: flex;
    justify-content: center;
}

#taskbarDiv ul {
    display: flex;
}

#taskbarItem li {
    display: inline;
    margin: 0 10px;
}

#subTaskbarItem li {
    display: inline;
    margin: 0 10px;
    font-size: 0px;
}

#taskbarItem li::before {
    content: "";
}

#subTaskbarItem li::before {
    content: "";
}

#subTaskbarItem li::after {
    content: "";
}

#pageContent {
    position: absolute;
    display: contents;
}

.listHideDots {
    list-style-position: inside;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#contentList {
    display: flex;
    position: fixed;
    justify-content: center;
    top: 300px;
    right: 50%;
}

.contentListItem {
    display: flex;
    width: 400px;
    height: 300px;
    margin: 0 10px;
}