<!-- DEFAULT PAGE DIV -->
<div id="taskbarDiv">
    <h1 id="pageTitle" class="defaultFont"></h1>  <!-- Page Title -->
    <ul id="taskbarItem" class="listHideDots" style="padding: 0">
        <li>
            <button id="homeButton" class="defaultFont rotateHover buttonColor defaultButton" 
                onmouseover="JavaScript: startButtonRotation(this);"
                onmouseout="JavaScript: stopButtonRotation(this);"
                onclick="JavaScript: loadNewPage('index.html');">
            Home</button> <!-- Home Button -->
        </li>

        <li>
            <button id="projectsButton" class="defaultFont rotateHover buttonColor defaultButton" 
                onmouseover="JavaScript: startButtonRotation(this);"
                onmouseout="JavaScript: stopButtonRotation(this);"
                onclick="JavaScript: loadNewPage('projects.html');">
            Projects</button> <!-- Videogames Button -->
        </li>

        <li>
            <button id="listsButton" class="defaultFont rotateHover buttonColor defaultButton"
                onmouseover="JavaScript: startButtonRotation(this);"
                onmouseout="JavaScript: stopButtonRotation(this);"
                onclick="JavaScript: loadNewPage('lists.html');">
            Lists</button> <!-- Web games Button -->
        </li>

        <li>
            <button id="miscButton" class="defaultFont rotateHover buttonColor defaultButton"
                onmouseover="JavaScript: startButtonRotation(this);"
                onmouseout="JavaScript: stopButtonRotation(this);"
                onclick="JavaScript: loadNewPage('misc.html');">
            Misc</button> <!-- Misc Button -->
        </li>

        <li>
            <button id="linksButton" class="defaultFont rotateHover buttonColor defaultButton"
                onmouseover="JavaScript: startButtonRotation(this);"
                onmouseout="JavaScript: stopButtonRotation(this);"
                onclick="JavaScript: loadNewPage('links.html');">
            Links</button> <!-- About Button -->
        </li>
    </ul>
</div>