<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="utf-8"/>
    <title>template | brenman60</title>
    <link rel="icon" href="images/icon.png"/>
    <link href="css/universal.css" rel="stylesheet"/>
    <link href="css/default.css" rel="stylesheet"/>
    <noscript>JavaScript is not supported by this browser.</noscript>
    <script src="js/main.js"></script>
    <script src="js/mouseButtons.js"></script>
</head>
<body 
    onmousemove="JavaScript: updateMouseCoords(event);"
    onmousedown="JavaScript: spawnShockAtMouse();"
    onload="JavaScript:
    loadTitleText('template content page');
    startSplashes();">

    <script src="js/headerInclude.js"></script>
    <script> includeHeader(); </script>

    <!-- INVIDUAL PAGE CONTENT GOES UNDER HERE -->
    <div id="pageContent">

    </div>
</body>
</html>